# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/

# Data & results
data/batch.json
data/raw/
data/processed/
results/

# Jupyter
.ipynb_checkpoints/

# Pickle files
*.pkl

# Logs
*.log

# OS
.DS_Store
